/* media query-priya */
@media (max-width: 767px) {
 
    .live-items{
      flex-wrap: wrap;
    }
    .solar-shape{
      position: absolute;
      right: 255px;
      width: 26%;
      top: -15px;
      transform: rotate(4deg);
    }
    /* .section-title span{
      font-size: 20px;
    } */
    .section-title h2{
      font-size: 25px;
    }
    .section-title{
      text-align: center;
    }
    .about-wrapper-2 .about-content p{
      margin-bottom: 20px;
    }
    .news-updates{
      margin-bottom: 45px;
    }
    .date h2 {
      font-size: 20px;
    }
    .notes{
      text-align: center !important;
    }
    .section-title-area{
      justify-content: center;
    }
    .section-title{
      margin-bottom: 0;
    }
    .contact-info-area .contact-info-items .content h3{
      font-size: 15px;
    }
    .contact-info-area .contact-info-items .content p{
      font-size: 22px;
    }
    .contact-info-area .contact-info-items{
      flex-wrap: nowrap;
      
      padding-left: 33px;
    }
    /* .header-top-section {
      display: none;
  } */
  .mean-container .mean-nav{
    display: none;
  }
  .logo{
    top: 1px;
    left: -3%;
    z-index: -11;
  }
  .top-title{
   
    left: -3%;
  }
  .hero-1{
    margin-top: 48px;
  }
  /* .offcanvas-header{
    margin-top: 100px;
  } */
  .header-top-wrapper{
    flex-wrap: wrap;
  }
  .header-top-wrapper .contact-list{
    left: 0px;
    flex-direction: column;
    gap: 8px;
  }
  .header-top-wrapper .top-right{
    right: -65px;
    margin-top: 5px;
  }
  .input-container{
    display: none;
  }
  .chart{
    width: 50%;
  }
  
  .navbar .nav-item .nav-link {
    color:black;
    font-weight: 500;
    margin-right: 0px;
    transition: all .5s ease-in-out;
  }

  /* team */
  .rs-team-single .btm-info-team .images-part{
    padding: 0px;
  }
  .rs-team-single .btm-info-team .con-info{
    margin-top: 20px;
  }
  .rs-team-single .btm-info-team .con-info .designation-info{
    text-align: center;
  }
  .rs-team-single .btm-info-team .con-info .title{
    text-align: center;
    font-size: 20px;
  }

  /* buyer/seller */
  .single-job{
    margin-top: 25px;
  }
  .job-content{
    text-align: center;
  }
  .single-job .job-content .meta-box p:not(:last-child){
    margin-right: 35px;
  }

  /* events */
  .section-padding{
    padding: 50px 8px;
  }
  .news-card-items{
    margin-top: 30px;
    margin-bottom: 22px;
  }
  /* contact */
  .contact-page-section{
    padding: 60px 0px 0px;
  }
  .contact-form .form-group:last-child{
    text-align: center;
  }
  .contact-page-section .sec-title h2{
    text-align: center;
  }
  .contact-page-section .contact-info li{
    padding-left: 20px;
  }
  

  /* menu */
  .offcanvas-header .btn-close{
    font-size: 30px;
    margin-left: 90%;
  }
  .offcanvas-header{
    background-color: #80c118;
    color: white;
  }
  .offcanvas-body{
    background-color: #80c118;
   

  }
  .navbar .nav-item .nav-link{
    color: white;
    margin-bottom: 13px;
  }
  .navbar-toggler{
    border: none;
  }

.footer-shape{
  right: 0;
}




/* office */
.rs-team-single .btm-info-team .con-info .designation-info{
  margin-top: 15px;
  text-align: center;
}
.rs-team-single .btm-info-team .con-info .title{
 text-align: center;
 font-size: 25px;
}


.rs-team-single .btm-info-team .images-part{
  padding: 0px !important;
}

.array-button .array-prev,.array-button .array-next{
  width: 40px;
  height: 40px;
  line-height: 17px;
}
.tabs-list{
  flex-direction: column;
}
.tabs-list li{
  max-width: 100%;
}
.news-content-1 {
  position: relative;
  /* top: 52%; */
  /* bottom: 12%; */
  left: 0%;
  margin-top: 15px;
}
.bordered-table{
  width: 100%;
}
.wrap-table100{
  width: 100%;
}
.dataTables_wrapper .dataTables_filter{
  float: right;
}

}